*{
    margin: 0px;
    padding:0px;
}

.header{
width: 1280px;
}

.footer{
    margin-top: 10px;
}

body{
    background-color: #e0b0f3;
}

/*Kode CSS Navigator*/
ul{
    list-style:none;
    background: #e0c9fb;
    margin-top: -4px;
    position: absolute;
    width: 1290px;
    height: 60px;
} 

ul li{
    display: inline-block ;
    position: relative;
    height: 60px;
    padding: 10px 8px;
}

ul li a{
    padding: 10px 0px;
    text-align: center;
}

ul a:hover{
    background-color: #8fd29f;
}

/* Kode css dropdown */
ul li ul.dropdown li{
    display: block;
}

ul li ul.dropdown{
    background:#b595db;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    margin: 0px 0px;
}

ul li:hover ul.dropdown{
    display: block;
}

.h3{
    margin-top: 70px;
    font-family: "Juni";
    font-size: larger;
}

.h4{
    font-family: "Juni";
    font-size: larger;
    margin-top: 5px; 
}

.p1{
    margin-top: 3px;
    font-family: "Nerko";
    background-color: #a7e7b6;
    margin-left: 5px;
    margin-right: 5px;
}

.li1{
    font-family: "Nerko";
    background-color: #e0c9fb;
    margin-left: 5px;
    margin-right: 5px;
}

.li3{
    font-family: "Nerko";
    background-color: #806b98;
    margin-left: 5px;
    margin-right: 5px;
}

.bil{
    margin-top: 5px;
    width: 220px;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
}

.li2{
    font-family: "Nerko";
    background-color:#a7e7b6 ;
    margin-left: 5px;
    margin-right: 5px;
}

@font-face{
    font-family:"Juni";
    src: url(JunigardenSerif_PERSONAL_USE_ONLY.otf);
}

@font-face{
    font-family:"Magic";
    src: url(Magic\ Retro.ttf);
}

@font-face{
    font-family:"RubikBubbles";
    src: url(RubikBubbles-Regular.ttf);
}

@font-face{
    font-family:"Nerko";
    src: url(NerkoOne-Regular.ttf);
}

.typing-effect {
    margin-top: 10px;
    font-size: 1.5em;
    font-family: "Juni";
    overflow: hidden; /* Memastikan teks di luar area tersembunyi */
    border-right: .15em solid #333; /* Efek kursor */
    white-space: nowrap; /* Menjaga teks tetap di satu baris */
    width: 0; /* Awal width */
    animation: typing 4s steps(30, end) forwards, blink .5s step-end infinite alternate;
  }

  .typing-effect2 {
    margin-top: 70px;
    font-size: 1.5em;
    font-family: "Juni";
    overflow: hidden; /* Memastikan teks di luar area tersembunyi */
    border-right: .15em solid #333; /* Efek kursor */
    white-space: nowrap; /* Menjaga teks tetap di satu baris */
    width: 0; /* Awal width */
    animation: typing 4s steps(30, end) forwards, blink .5s step-end infinite alternate;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%; /* Lebar penuh teks */
    }
  }

  @keyframes blink {
    from {
      border-color: transparent;
    }
    to {
      border-color: black;
    }
  }